@import "~bootstrap/scss/_variables";
@import "src/ui/styles/_color";
@import "./RingWaypoint";

.accessPointWaypoint {
  composes: waypoint;
}

.accessPointCrossing {
  composes: accessPointDot;
}

.tributaryWaypoint:focus .accessPointCrossing,
.tributaryWaypoint:hover .accessPointCrossing {
  fill: $RAINBOW_TROUT;
  animation: accessPointCrossing-fade $HOVER_SPEED;
  animation-iteration-count: 1;
}

@keyframes accessPointCrossing-fade {
  0% {
    fill: $PEWTER_LIGHT;
  }

  100% {
    fill: $RAINBOW_TROUT;
  }
}

.accessPointLabel {
  composes: label;
}

.tributaryWaypoint:focus .accessPointLabel,
.tributaryWaypoint:hover .accessPointLabel {
  fill: $DARK_HENDRICKSON;
  animation: label-fade $HOVER_SPEED;
  animation-iteration-count: 1;
}

.accessPointLabelPoint {
  fill: $PEWTER_LIGHT;
}

.tributaryWaypoint:focus .accessPointLabelPoint,
.tributaryWaypoint:hover .accessPointLabelPoint {
  fill: $DARK_HENDRICKSON;
  animation: label-fade $HOVER_SPEED;
  animation-iteration-count: 1;
}

@keyframes label-fade {
  0% {
    fill: $PEWTER_LIGHT;
  }

  100% {
    fill: $DARK_HENDRICKSON;
  }
}

@keyframes waypoint-fade {
  0% {
    fill: quite-label-colors($COOL_WATER);
  }

  100% {
    fill: $COOL_WATER;
  }
}