@import "src/ui/styles/_color";

$small_font_size: 0.875em;
$HOVER_SPEED: 350ms;
$DESATURATE_AMOUNT: 10%;

@function quite-label-colors($color) {
  @return desaturate(lighten($color, 30%), $DESATURATE_AMOUNT);
}

.waypoint {
  cursor: pointer;
  font: $small_font_size sans-serif;
  outline: none;
  box-shadow: none !important;
}

.waypoint:focus {
  outline: none;
  box-shadow: none !important;
}

.label {
  alignment-baseline: central;

  // fill: $PEWTER_LIGHTER;
  fill: quite-label-colors($DARK_HENDRICKSON);
}

.accessPoint:focus,
.accessPoint:hover {
  fill: none;
  stroke-dasharray: 1,4;
}

.waypoint:focus .accessPointConnector,
.waypoint:hover .accessPointConnector {
  opacity: 1.0;
  animation: line-fade $HOVER_SPEED;
  animation-iteration-count: 1;

  // stroke: $PEWTER_LIGHTER;
}

.accessPointStream {
  stroke-width: 1px;
}

.accessPoint:hover .accessPointStream {
  fill: none;
  stroke-width: 20px;
  stroke-color: $RAINBOW_TROUT;
}

.accessPoint:hover .accessPointDot {
  fill: $RAINBOW_TROUT;
}

.accessPointConnector {
  fill: none;
  stroke: $DARK_HENDRICKSON;
  stroke-dasharray: 1,4;
  stroke-width: 1px;
  opacity: 0.0;
}

@keyframes line-fade {
  0% {
    opacity: 0.2;
  }

  100% {
    opacity: 1.0;
  }
}

.accessPointDot {
  fill: quite-label-colors($DARK_HENDRICKSON);
}

.subjectAccessPointDot {
  composes: accessPointDot;
  fill: transparentize($PEWTER_LIGHT, 0.6);
}

.dot {
  fill: inherit;
}