@import "~bootstrap/scss/_variables";
@import "src/ui/styles/_color";
@import "./RingWaypoint";

.accessPointWaypoint {
  composes: waypoint;
}

.accessPointCrossing {
  composes: accessPointDot;
}

.accessPointWaypoint:focus .accessPointCrossing,
.accessPointWaypoint:hover .accessPointCrossing {
  fill: $RAINBOW_TROUT;
  stroke-width: 1px;
  stroke: $RAINBOW_TROUT;
}

.accessPointLabel {
  composes: label;
}

.accessPointWaypoint:focus .accessPointLabel,
.accessPointWaypoint:hover .accessPointLabel {
  fill: $DARK_HENDRICKSON;
  animation: label-fade $HOVER_SPEED;
  animation-iteration-count: 1;
}

.accessPointLabelPoint {
  fill: quite-label-colors($DARK_HENDRICKSON);
}

.accessPointWaypoint:focus .accessPointLabelPoint,
.accessPointWaypoint:hover .accessPointLabelPoint {
  fill: $DARK_HENDRICKSON;
  animation: label-fade $HOVER_SPEED;
  animation-iteration-count: 1;
}

@keyframes label-fade {
  0% {
    fill: quite-label-colors($DARK_HENDRICKSON);
  }

  100% {
    fill: $DARK_HENDRICKSON;
  }
}

.roadSign {
  width: 1em;
  height: 1em;
}

.roadSignText {
  fill: #fff;
}