$BROWN_TROUT: #fccc14;
$BROOK_TROUT: #acbb39;
$RAINBOW_TROUT: #ce4e27;

$DOUBLE_HAUL_WHITE: #fff;
$OVERCAST: #dfdfdf;
$PEWTER_LIGHT: #aaa;
$PEWTER_LIGHTER: #bbb;
$PEWTER_LIGHTEST: #ccc;

$DARK_HENDRICKSON: #463838;

$COOL_WATER: #4e7f84;
$LIGHT_WATER: #97CAFF;