@import "src/ui/styles/_color";
$stream_width: 0.05em;
$section_width: $stream_width * 3;
$restriction_width: $section_width;
$pal_width: $stream_width * 7;

$tributary_width: $stream_width;
$tributary_pal_width: $tributary_width * 7;

.container {
  // position: absolute;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
}

.stream {
  fill: none;
  stroke: $LIGHT_WATER;
  stroke-width: $stream_width;
  stroke-linecap: round;
  stroke-linejoin: round;
}

.section {
  composes: stream;
  stroke: $COOL_WATER;
  stroke-width: $section_width;
  animation: section-fade 700ms;
  animation-iteration-count: 1;
}

.restriction {
  composes: stream;
  stroke: $BROWN_TROUT;
  stroke-width: $restriction_width;
}

.fishSanctuary {
  composes: restriction;
  stroke: $RAINBOW_TROUT;
  stroke-width: $restriction_width;
}

.pal {
  composes: stream;
  stroke: $BROOK_TROUT;

  // stroke-linecap: butt;
  stroke-width: $pal_width;
  animation: pal-fade 1000ms;
  animation-iteration-count: 1;
}

@keyframes pal-fade {
  0% {
    opacity: 0;
    stroke-width: 0px;
  }

  50% {
    opacity: 0.8;
    stroke-width: 3px;
  }

  100% {
    opacity: 1.0;
    stroke-width: 7px;
  }
}

@keyframes section-fade {
  0% {
    opacity: 0;
    stroke-width: 1px;
  }

  50% {
    opacity: 0.9;
    stroke-width: 2px;
  }

  100% {
    opacity: 1.0;
    stroke-width: 3px;
  }
}

.accessPoint {
  // stroke: transparentize($DARK_HENDRICKSON, 0.3);
  fill: $DARK_HENDRICKSON;
  cursor: pointer;
  alignment-baseline: central;
}

.boringAccessPoint {
  composes: accessPoint;

  // stroke: transparentize(#aaa, 0.3);
  fill: #aaa;
  font: 12px sans-serif;
}

.accessPoint:hover {
  fill: $RAINBOW_TROUT;
  stroke-dasharray: 1,4;
}

.accessPoint:hover .accessPointConnector {
  fill: $RAINBOW_TROUT;
  stroke-dasharray: 1,4;
  stroke: $DARK_HENDRICKSON;
}

.accessPointStream {
  stroke-width: 1px;
}

.accessPoint:hover .accessPointStream {
  fill: $RAINBOW_TROUT;
  stroke-width: 20px;
  stroke-color: $RAINBOW_TROUT;
}


// ✅ TODO: remove this and palce it in /ring
.tributaryText {
  // composes: radialText;
  fill: #aaa; 
}

.tributaries {
  opacity: 0.6;
}

.tributary {
  composes: section;
  stroke-width: $tributary_width;
  stroke: transparentize(#aaa, 0.3);
}

.tributarySection {
  composes: tributary;
  stroke: $COOL_WATER;
}

.tributaryDot {
  fill: $COOL_WATER;
}

.tributaryPalSection {
  composes: tributary;
  stroke: $BROOK_TROUT;

  // stroke-linecap: butt;
  stroke-width: $tributary_pal_width;
  animation: pal-fade 1000ms;
  animation-iteration-count: 1;
}

