@import "src/ui/styles/_color";

.streamItemContainer {
  // display: flex;
  // flex: 1;
}

.icon {
  width: 1.2em;
  height: 1.2em;
  min-width: 1.2em;
  display: inline-block;
  margin: 0 0.1em;
}

.icon_content {
  align-self: center;
  text-align: center;
  font-size: 0.8em;
  color: $DARK_HENDRICKSON;
}

.ratio {
  width: 1.2em;
  height: 1.2em;
  text-align: center;
  margin-top: 0.1em;
  order: 2;

  // override the normalize.css
  overflow: visible !important;
}

.backdrop {
  // fill: none; $LIGHT_WATER;
  fill: none;
}

.section {
  fill: $COOL_WATER;
}

.public {
  fill: $BROOK_TROUT;
}

.alert {
  order: 1;
  composes: ratio;
  fill: #fccc14;
  padding-bottom: 0.18em;

  text {
    fill: #463838;
  }
}

.name {
  order: 3;
  flex-grow: 1;

  // vertical-align: text-bottom;
}

.streamItem {
  margin-bottom: 0.2rem;
}