@import "~bootstrap/scss/_variables";
@import "~normalize.css/normalize";
@import "src/ui/styles/_color";

.streamList {}

.myHeaderLol {
  position: sticky;
  top: -1px;
  background-color: $OVERCAST;
}

.list {
  columns: 4 16em;
  column-gap: 2em;
  font-size: 1.0em;
}

.item {
  // margin: 2em;
}