.bubble-grid {}

.bubble {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.bubbleHeader {
  order: 0;
  flex: 0 1 auto;
  color: #aaa;
  font-weight: 200;
}

.bubbleBody {
  order: 1;
  flex: 1 0 auto;
  position: relative;
  height: 100%;
}