.accessPoint:hover {
  fill: none;
  stroke-dasharray: 1,4;
}

.accessPoint:hover .accessPointConnector {
  fill: none;
  stroke-dasharray: 1,4;
  stroke: #463838;
}

.accessPointStream {
  stroke-width: 1px;
}

.accessPoint:hover .accessPointStream {
  fill: none;
  stroke-width: 20px;
  stroke-color: #ce4e27;
}

.accessPoint:hover .accessPointDot {
  fill: #ce4e27;
}

.accessPointConnector {
  fill: none;
  stroke: none;
  stroke-dasharray: 1,4;
  stroke-width: 1px;
}

.accessPointDot {
  fill: transparentize(#aaa, 0.3);
}

.dot {
  fill: inherit;
}